/*
  ====================
  Main Page
  ====================
*/

#root .results {
  display: flex;
  justify-content: center;
}

#root ul {
  display: inline-block;
}

#root li {
    display: inline-block;
    padding: 15px;
}

#root .break a {
    cursor: default;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.input-field {
  display: flex;
  justify-content: center;
}

/*
  ====================
  Images
  ====================
*/

img {
  border-radius: 5%;
}

.poster-shadow {
  box-shadow: 5px 2px 3px;
}

/*
  ====================
  Images
  ====================
*/

.movie-title {
  margin: 20px;
  text-align: center;
}

.active {
  font-weight: bold;
}

.the-grid {
  padding-top: 50px;
}

/*
  ====================
  Footer
  ====================
*/

.footer {
  margin-top: auto;
  height: 40px;

  p, a {
    text-decoration: none;
    color: #2155D7;

    &:hover{
      color: darken(#2155D7, 20%);
    }
  }
}
